body {
    background-color: #201f27;
    font-family: Calibri;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 12px;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #ff7300; /* Change the color of the scrollbar thumb */
    border-radius: 6px; /* Make the thumb rounder */
}

/* Customize the scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c75b03; /* Change the color on hover */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
    background: #101010; /* Change the track color */
}

/* Customize the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
    background: #111111; /* Change the track color on hover */
}

a:hover {
    color: #fc6a05;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

#cards_landscape_wrap-2 {
    text-align: center;
}

#cards_landscape_wrap-2 .container {
    padding-top: 5px;
    padding-bottom: 10px;
}

#cards_landscape_wrap-2 a {
    text-decoration: none;
    outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
    opacity: 0.7;
}

#cards_landscape_wrap-2 .card-flyer .text-box {
    text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
    background: #1B1C20;
    border: 1px solid #000;
    margin-top: 20px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
    background: #2b2c2f;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #ff8800;
}

.nav-link {
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ff8800 !important;
}

.bold_h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    border-left: 3px solid #ff8800;
    padding: 5px 0px 5px 18px;
}

.h2_title {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.HowWEAre {
    width: 256px;
}

.underline_how {
    position: relative;
    left: -50px;
}

.img_box {
    border: 2px solid #ff8800;
    border-radius: 1px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ff8800;
    border-color: #b66204;
}

.btn-dark:hover {
    background-color: #ff8800;
    border-color: #b66204;
}

.icon_holder {
    border: 2px solid #ff8800;
    padding: 20px;
    width: 128px;
    height: 128px;
    color: #ff8800;
    font-size: 52px;
    display: block;
    margin: auto;
    margin-bottom: 13px;
}

.top_edge {
    height: 120px;
    transform: rotate(180deg);
    fill: #242B37;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.background_img_01 {
    background-image: url(/images/PUBLISHWITHUS.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 47px;
    padding-bottom: 4px;
    position: relative;
    height: 371px;
}
@media only screen and (max-width: 932px) {
    .background_img_01 {
        background-image: unset;
    }
}
@media only screen and (max-width: 768px) {
    .background_img_01 {
        background-image: unset;
        background-size: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.copyright {
    background-color: #0d0f13;
    padding: 16px 0;
    position: relative;
    top: 0;
    z-index: 996;
    text-align: center;
    width: 100%;
    font-size: 11px;
    color: #5f5f5f;
}

footer {
    background-color: #121217;
    padding-top: 70px;
    padding-bottom: 20px;
}

footer ul li a {
    font-weight: 300;
    color: white;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: 0.3s;
}

footer ul li a:hover {
    color: white;
}

footer ul li {
    padding: 5px 0px;
    margin: 10px 0px;

}

footer ul {
    padding: 0px;
    border: 0px;
    box-shadow: none;
    background: none;
    list-style: none;
}

.no_padding {
    padding: 0 !important;
}

.service_item {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.service_item::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #191e26;
    background: linear-gradient(180deg, rgba(25, 30, 38, 0.3) 0%, #13171d 95%);
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    cursor: pointer;
}

.image_service {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
    cursor: pointer;
}

.middle {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 100px;
    z-index: 10;
    cursor: pointer;
}

.service_item:hover .image_service {
    opacity: 0.5;
    transform: scale(1.2);
}

.service_item:hover .middle {

}

.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
}

.container_padding {
    padding-left: 10px;
    padding-right: 10px;
}

.white_box {
    border-radius: 35px;
    background-color: white;
    color: black;
    overflow: hidden;
    transition: transform 1s;
}

.white_box:hover {
    transform: scale(1.01);
}

.swiper {
    width: 100%;
    height: auto;
}

.gray_item {
    padding: 20px;
    transition: all 0.2s ease-in;
}

.gray_item:hover {
    background-color: #070709;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
}

.orange_border {
    border: #9d7106 1px solid;
}

.orange_border_topdown {
    border-top: #9d7106 1px solid;
    border-bottom: #9d7106 1px solid;
}

.btn-outline-orange {
    border: #fc6a05 1px solid;
    padding-left: 70px;
    padding-right: 70px;
    color: white;
}

.btn-outline-orange:hover {
    background-color: black;
    color: white;
}


.btn-orange {
    border: #fc6a05 1px solid;
    padding-left: 70px;
    padding-right: 70px;
    color: white;
    background-color: rgba(0, 0, 0, .8);
}

.btn-orange:hover {
    background-color: black;
    color: white;
}


.navbar {
    padding: 0 20px;
}

.yellow_color {
    color: #ffd50e;
}

.black_bg {
    background-color: rgba(0, 0, 0, 0.5);
}


.orange_color {
    color: #fdbb4c;
}

#siteNavbar {
    margin: 35px;
}

.big_checkbox {
    width: 32px;
    height: 32px;
}

/***********************/

.menu {
    position: fixed;
    top: 25px;
    left: 0;
    z-index: 1000;
    width: 100%;
    font-size: 17px;
}
@media only screen and (max-width: 932px) {
    .menu {
        left: -30px;
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        left: -10px;
    }
}

@media only screen and (max-width: 400px) {
    .menu {
        left: 0px;
    }
}
.img_full {
    position: absolute;
    width: 100%;
    left: 0;
}

.menu .link_menu {
    color: white;
    display: inline-block;
    position: relative;
    top: 25px;
    padding-left: 15px;
    padding-right: 5px;
}

.lang_link {
    color: white;
    display: inline-block;
    position: relative;
    top: 25px;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 12px;
    transition: 0.3s;
}

.lang_link:hover {
    color: orangered;
    font-weight: bold;
    transition: 0.3s;
}

.active_lang {
    color: orangered;
}

.border_left {
    border-left: 2px solid #9d9d9d;
}

User
.active_menu {
    position: relative;
    font-weight: bold;
}

.active_menu::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the underline */
    background: linear-gradient(to left, orange, rgba(255, 165, 0, 0)); /* Orange gradient with zero alpha at right */
}

.link_menu:hover {
    font-weight: bold;
    transition: 0.3s ease; /* Adjusted the transition duration to 1s */
}

.black_text {
    color: black;
    text-shadow: 1px 1px 1px #fe8105,
    -1px 1px 1px #fe8105,
    -1px -1px 0 #fe8105,
    1px -1px 0 #fe8105;

}

.how_we_are_text {
    padding-left: 172px;
    padding-right: 97px;
}


.platforms_icon {
    width: 80%;
}

@media only screen and (max-width: 768px) {
    .how_we_are_text {
        padding-left: 10px;
        padding-right: 10px;
        transform: scale(0.8);
    }

    .platforms_icon {
        width: 60%;
    }
}

.menubar_icon {
    color: white;
    font-size: 36px;
    z-index: 1;
    position: relative;
    top: 6px;
    right: 8px;
}

.mobile_menu {
    display: none;

    background-color: black;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100000;

}

.mobile_menu_button {
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid;
}

.close_btn {
    font-size: 36px;
    color: white;
    position: relative;
    top: 10px;
    left: 10px;
}


a.disabled {
    pointer-events: none;
    cursor: default;
}

.game_red_border {
    background: url("/images/Games_ContentBorder.webp");
    background-size: 100% 100%;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid red;

    transition: transform 1s;
}

.game_red_border:hover {
    transform: scale(1.05);
}

.game_orange_bg {
    background: url("/images/Games_Content_Design.webp");
    background-size: 100% 100%;
    color: black;
}

.readmore_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;

    transition: opacity 1s;
}

.readmore_btn:hover {
    opacity: 0.5;
}

.top_cover {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.orange_bg_service {
    background-image: url("/images/Service_ContentDesign_right.webp");
    background-size: 100% 100%;
}

.service_padding {
    padding-right: 150px;
    padding-top: 10px;
}

.readmore_02_btn {
    position: absolute;
    right: 30px;
    bottom: 10px;

    transition: opacity 1s;
}

.readmore_02_btn:hover {
    opacity: 0.8;
}

.service-title {
    cursor: pointer;
}

.game_card {
    border: 1px solid #cb7a2d;
    position: relative;
    display: block;
    margin-top: 10px;
}

.game_card:hover {
    border: 2px solid #ff7b00;
    transform: scale(1.01);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

}

.game_info {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding: 5px 5px 5px 20px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    pointer-events: none;

}

.game_info:hover {
    color: #ff7b00;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.game_info::after {
    content: ">";
    position: absolute;
    left: 69px;
    bottom: 4px;
    transition: all 0.2s ease-in;
}

.game_card:hover + .game_info::after {
    color: #ff7b00;
    left: 110px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.game_card:hover + .game_info {
    color: #ff7b00;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.img-objectfit {
    object-fit: cover;
}

.border-red-2 {
    border: #de5735 2px solid;
}

.ptd_0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.padding_fix {
    padding-top: 25px !important;
    padding-bottom: 0px !important;
    padding-right: 5px !important;
}

.game_row {
    cursor: pointer;
    margin-top: 70px;
}

.service_title_row {
    cursor: pointer;
}

.game_row:hover .readmore_02_btn {
    right: 20px;
    transition: 0.5s;
}

.game_row:not(:hover) .readmore_02_btn {
    position: absolute;
    right: 50px;
    transition: 0.5s;
}

.height_between {
    display: block;
    height: 60px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.animated-element {
    width: 100px;
    height: 50px;
    position: relative;
    animation: slideIn 2s ease-in-out infinite;
}

.container_big {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1920px) {
    .container_big {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container_big {
        width: 90%;
    }
}

.bg_loop_left {
    position: relative;
}

.bg_loop_left::before {
    content: '';
    background-image: url("/images/bg_loop.webp");
    position: absolute;
    left: -100%;
    top: 0px;
    height: 570px;
    width: 100%;
    background-size: 100% 100%;
}
@media only screen and (max-width: 932px) {
    .bg_loop_left::before {
        display: none;
    }
}
